<head>
  <style>
    .table {
      max-width: 70%;
    }
 </style>
</head>

<h1>会員一覧</h1>

<div class="d-flex justify-content-center">
<table class="table bg-light table-hover">
  <thead>
    <tr>
      <th>名前</th>
      <th>フリガナ</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <% unless customer.is_deleted? %>
      <tr>
        <td><%= link_to "#{customer.family_name} #{customer.personal_name}", customer_path(customer) %></td>
        <td><%= "#{customer.family_name_kana} #{customer.personal_name_kana}" %></td>
        <td>有効</td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>