<table class="table bg-light table-hover">
  <caption><%= @recipe.dish_name %> のコメント一覧</caption>
  <thead>
    <tr>
      <th>投稿者</th>
      <th>コメント内容</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.customer.email %></td>
        <td><%= comment.comment %></td>
        <td>
          <%= link_to "削除", admin_recipe_comment_path(@recipe, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>










