<div class="nested-fields">
  <div class="form-group">
    <%= f.label :手順説明 %>
    <%= f.text_field :instruction, class: 'form-control' %>
  </div>
  <%= link_to_remove_association '削除', f, class: 'btn btn-danger' %>
</div>