
<div class="footer footer-expand-lg footer-dark bg-dark">
  <div class='d-flex align-items-center justify-content-center mx-auto'>
    <h4 class="mt-4 text-light">CopyRight zuorameshi.inc</h4>
  </div>
</div>









