<div class="footer" style="height:70px; background-color: rgb(200, 200, 0);">
  <div class='d-flex align-items-center justify-content-center mx-auto'>
    <h4 class="mt-4 text-light">CopyRight zuorameshi.inc</h4>
  </div>
</div>

<style>
.footer {
  height: 70px;
  background-color: rgb(200, 200, 0);
}
</style>








